body {
  background-color: whitesmoke;
  font-size: 0.9rem;
  color: rgb(49, 6, 87);
}



h1 {
  font-family: 'Almendra', serif;
  font-size: 125px;
  color: rgba(97, 6, 97);
  text-align: center;
  font-weight: normal;
}

h2 {
  font-family: 'Almendra', serif;
}

h3 {
  font-family: 'Almendra', serif;
  font-size: 30px;
}


h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

#title h1 {

  font-size: 125px;
  color: rgba(97, 6, 97, 0.75);
  text-align: center;
  font-weight: normal;

}

.title {
  position: relative;
  z-index: 1;
  padding: 60px 20px 150px 20px;
}



.title::before {
  content: '';
  background-image: url(./img/viva-luna-studios-1dIh5H5BMvI-unsplash.jpg);
  background-size: 175%;
  background-repeat: no-repeat;
  background-position: right;
  opacity: 0.6;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

button {
  height: 65px;
  font-size: 22px;

  color: rgb(232, 229, 235);
  cursor: pointer;
  padding: 0 20px;
  background: rgb(49, 6, 87);
  border: none;

}

h2 {

  font-size: 30px;
  font-weight: 400;
  justify-content: center;
}


.mycard {
  height: 65px;
  font-size: 22px;
  color: rgb(49, 6, 87);
  cursor: pointer;
  padding: 0 15px;
  background: rgb(217, 214, 221);
  border-color: rgb(49, 6, 87);


}

.card-meaning {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 100;
  font-family: 'Arimo', sans-serif;


}

/* form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
} */

/* textarea {
  width: 20rem;
  height: 20rem;
  
} */

.spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #f1c43e;
  -webkit-mask: radial-gradient(circle closest-side at 50% 40%, #0000 94%, #000);
  transform-origin: 50% 40%;
  animation: s5 1s infinite linear;
}

@keyframes s5 {
  100% {
    transform: rotate(1turn)
  }
}

@media screen and (max-width: 1000px) {
  .title::before {
    background-position-x: center;
    opacity: 0.5;
    background-size: cover;
  }

  .title {
    padding: 448px 40px 40px 40px;
  }

  h1 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 250px;
  }

  h2 {
    font-size: 60px;
    font-family: 'Arimo';
    font-weight: 600;
  }

  button {
    height: 85px;
    font-size: 44px;
  }

  .mycard {
    height: 85px;
    font-size: 44px;

  }

  h3 {
    font-size: 40px;
  }

  h3 img {
    width: 50%;
  }

  h4 {
    font-size: 50px;
  }


}